// @import 'yoga';
// @import 'normalize';

$c-blue: hsl(217, 71%, 53%);
$primary: $c-blue;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'bulma';
@import 'font-awesome';
@import 'box-sizing';
@import 'css-resets';

.nav {
  background: $primary;

  a.nav-item {
    color: $white-bis;
  }
}

.is-brand {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}
